.particlejs-top{
    height:'750px';
    border: 1px solid white;
    /* z-index: 100;
    box-shadow: 500px 400px 400px 100px ; */
}

/* .home-main-heading{
    display: inline-block;
    position:relative;
        top: -91px;
        left: 10vw;
    padding-left: 2.5em;
    border: 2px solid white;
} */
.heading{
    top: 40vh;
    left: 12vw;
    position: absolute;
    font-family: sans-serif;
    color: aliceblue !important;
    font-weight:800;
    font-size:5em;
    text-align: center;
}

@media (max-width: 600px){
    .heading {
        top: 30vh;
        left: 10vw;
        font-size: 3.5em;
    }
}

/* src/css/homeTop.css */
.particlejs-top {
    position: relative;
    height: 100vh;
    width: 100%;
    background: black;
  }
  
  .heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 62.5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold; 
  }
  
  .heading.fade-in {
    opacity: 1;
    transition: opacity 2s ease-in-out;
  }
  
  .heading {
    opacity: 0; /* Initially hidden */
  }
  
  .particlejs-top .heading {
    color: AliceBlue !important; 
  }